p {
  text-align: center;
  font-size: 100px;
  position: absolute;
  top: 200px;
  left: 480px;
}

p::first-letter {
  color: #4885ed;
  font-family: sans-serif;
}

.input1 {
  position: absolute;
  top: 350px;
  left: 389px;
}

#mic {
  position: absolute;
  top: 360px;
  left: 870px;
  font-size: 20px;
  color: #4885ed;
}

.input2 {
  position: absolute;
  overflow: hidden;
  border-style: solid;
  top: 400px;
  left: 510px;
  font-size: 13px;
  background: #f2f2f2;
  font-weight: bold;
  color: #757575;
  opacity: 0.8;
}

.input2:hover {
  opacity: 1;
}

.input3 {
  position: absolute;
  overflow: hidden;
  border-style: solid;
  top: 400px;
  left: 635px;
  font-size: 13px;
  background: #f2f2f2;
  font-weight: bold;
  color: #757575;
  opacity: .8;
}

.input3:hover {
  opacity: 1;
}

.topnav {
  font-size: 12px;
  position: absolute;
  top: 20px;
}

.active {
  position: absolute;
  left: 10px;
  color: #606060;
}

.active2 {
  position: absolute;
  left: 50px;
  color: #606060;
}

.active3 {
  position: absolute;
  left: 1160px;
  color: #606060;
}

.active4 {
  position: absolute;
  left: 1200px;
  color: #606060;
}

#notification {
  position: absolute;
  left: 1275px;
  font-size: 18px;
}

#user {
  position: absolute;
  left: 1300px;
  font-size: 22px;
}

.bottomnav {
  font-size: 12px;
  position: absolute;
  top: 600px;
}

.active5 {
  position: absolute;
  left: 10px;
  color: #606060;
  /*box-shadow: 100px 100px 100px 100px #C0C0C0;*/
}

.active6 {
  position: absolute;
  left: 80px;
  color: #606060;
  /*box-shadow: 100px 100px 100px 100px #C0C0C0;*/
}

.active7 {
  position: absolute;
  left: 1150px;
  color: #606060;
  /*box-shadow: 100px 100px 100px 100px #C0C0C0;*/
}

.active8 {
  position: absolute;
  left: 1200px;
  color: #606060;
  /*box-shadow: 100px 100px 100px 100px #C0C0C0;*/
}

.active9 {
  position: absolute;
  left: 1260px;
  color: #606060;
  /*box-shadow: 100px 100px 100px 100px #C0C0C0;*/
}
